---
output: flynt-{{ .variant }}.yaml
---
accent: '{{ .amber }}'
background: '{{ .bg }}'
details: {{ if eq .variant "dark" }}darker{{ else }}lighter{{ end }}
foreground: '{{ .tx }}'
terminal_colors:
  bright:
    black: '{{ .bg5 }}'
    blue: '{{ index (index .shades "delft") "300" }}'
    cyan: '{{ index (index .shades "teal") "300" }}'
    green: '{{ .moss }}'
    magenta: '{{ .iris }}'
    red: '{{ index (index .shades "ember") "300" }}'
    white: '{{ .tx }}'
    yellow: '{{ index (index .shades "amber") "300" }}'
  normal:
    black: '{{ .bg2 }}'
    blue: '{{ .delft }}'
    cyan: '{{ .teal }}'
    green: '{{ .fern }}'
    magenta: '{{ .plum }}'
    red: '{{ .ember }}'
    white: '{{ .tx2 }}'
    yellow: '{{ .amber }}'
